.loginWindow {
  margin: auto;
  border: 1px solid black;
  border-radius: 25px;
  width: 230px;
  padding: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -62.5px;
  margin-left: -115px;
  z-index: 999;
}

.createAccountError {
  color: red;
  font-size: 10pt;
}

.overlay {
  background-color:rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 997;
}

.board {
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 40px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.board-text:hover {
  border-color: blue;
}

.board-full {
  background-color: #5190ED;
}

.board-full:hover {
  border-color: white;
}

.board-empty {
  background-color: rgb(148, 186, 243);
}

.board-empty:hover {
  border-color: blue;
  cursor: pointer;
}
.board-text {
  background-color: #515151;
  border: 1px #515151 solid;
  color: white;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.snippets {
  display: none;
  margin-top: 15px;
}

.pasteInput {
  border: none;
  background: transparent;
  color: white;
  width: 100%;
}

.pasteInput:focus {
  outline-width: 0;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding-right: 5px;
  padding-top: 15px;
  z-index: 999;
}

.settingsPanel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b2b2b2;
  width: 150px;
  height: 100vh;
  transition: 0.2s;
  z-index: 999;
  width: 0;
}

.settingsOptions {
  padding: 15px;
}

.settingsLink {
  margin-top: 15px;
  margin: 5px;
  cursor: pointer;
  color: white;
}

.settingsLink:hover {
  color: blue;
}

.boardAction {
  font-size: 32pt !important;
  cursor: pointer;
}

.renameBoard:hover {
  color: purple;
}

.copySnippet:hover {
  color: white;
}

.removeBoard:hover {
  color: red;
}

.removeSnippet:hover {
  color: red;
}

.addSnippet:hover {
  color: green;
}

.addBoard {
  border-radius: 20px; 
  border: green 4px solid; 
  margin-top: 30px; 
  padding-top: 10px; 
  text-align: center; 
  cursor: pointer; 
  margin-left: auto; 
  margin-right: auto; 
  width: 40%;
}

.addBoard:hover {
  background-color: green;
}

@media (max-width: 992px) {
  .boardAction {
    font-size: 26pt !important;
  }
}

@media (max-width: 768px) {
  .boardAction {
    font-size: 20pt !important;
  }
}

@media (max-width: 576px) {
  .boardAction {
    font-size: 18pt !important;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(36, 116, 235);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

.fadingAlert {
  position: fixed; 
  bottom: 20px; 
  width: 75%; 
  left: 12.5%; 
  display: none;
}

.navbar {
  border-bottom: 3px solid black; 
  background-color: rgb(36, 116, 235);
}

.navbar-header h1:hover{
  color: white;
}
