{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>CloudBoard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-cookies.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src={% static 'script.js' %}></script>
</head>
<body ng-app="CloudBoard" style="background-color: #dbdbdb;">
  <nav class="navbar navbar-default" style="border-bottom: 1px solid black; background-color: #FF7800;">
    <div class="container">
      <div class="navbar-header" style="margin: auto;">
        <h1>CloudBoard</h1>
      </div>
    </div>
  </nav>

  <!-- Settings panel -->
  <div ng-controller="settings" id="settingsDiv" class="settings">
    <i class="material-icons" style="font-size:36px; cursor:pointer;" id="settingsButton" ng-click="toggle()">menu</i>
    <div class="settingsPanel" style="display:none;">
      <i class="material-icons" style="font-size:36px; cursor:pointer; margin-top: 15px;" ng-click="toggle()">close</i>
      <div class="settingsOptions">
        <div class="settingsLink" ng-click="logOut()">Log Out</div>
        <a href="/faq" style="text-decoration:none;" class="settingsLink">FAQ</a>
      </div>
    </div>
  </div>

  <!-- Dimmer, used to fade out the website when the login window or the settings panel is shown -->
  <div class="overlay" id="dimmer"></div>

  <!-- Login window, currently just uses a fake form with a hard-coded login accepted, has a link to redirect to the login endpoint -->
  <div ng-controller="login">
      <div class="loginWindow" ng-show="!loggedIn">
        <div class="loader"></div>
        <div id="loginForm" style="display:none;">
          <form action="/api-auth/login/" method="POST">{% csrf_token %}
            <span class="createAccountError" id="usernameError"></span>
            <input type="text" name="username" ng-model="username" style="width:100%" placeholder="username" autofocus /> <br />
            <span class="createAccountError" id="passwordError"></span>
            <input type="password" name="password" ng-model="password" style="width:100%" placeholder="password" ng-keyup="keyCheck($event)" /> <br />
            <button ng-click="logIn()" style="width:100%" id="loginButton" ng-show="!creatingAccount">Log In </button>
          </form>
          <span class="createAccountError" id="emailError"></span>
          <input type="text" ng-model="email" style="width:100%;" ng-show="creatingAccount" placeholder="email" />
          <button ng-click="createAccount()" style="width:100%" ng-show="!accountCreated">Create Account</button>
          <button ng-click="forgotPassword()" style="width:100%">Forgot Password?</button>
        </div>
      </div>
  </div>

  <!-- Boards -->
  <div ng-controller="boards" class="container">
    <h1 ng-show="loggedIn" style="text-align:center; padding-top:20px;">Welcome, [[name]]!</h1>
    <div class="boardsView">
      <!-- This div will repeat for every board in the $scope.boards array -->
      <div ng-repeat="x in boards" class="col-lg-12">
        <!-- Two different classes for if the board has content or if its empty, same with two different functionalities for clicking on it -->
        <div class="board" ng-class="x.hasContent ? 'board-full' : 'board-empty'" ng-click="x.hasContent && !x.pasting ? doNothing() : pasteToBoard(x)">
          <!-- Remove button -->
          <div class="row">
            <div class="col" style="text-align: left; cursor: pointer;">
              <i class="material-icons removeBoard boardAction" ng-show="x.hasContent" ng-click="removeBoard([[x.id]])">remove_circle_outline</i>
            </div>
            <!-- Display board title and it's id -->
            <div class="col col-xs-auto">
              <h3 style="text-align:center;">Board [[x.id]]</h3>
            </div>
          
            <!-- Copy button -->
            <div class="col" style="text-align:right; cursor: pointer;">
              <i class="material-icons boardAction" ng-show="x.hasContent" ng-click="renameBoard([[x.id]])">create</i>
            </div>
          </div>
          <!-- Content dark grey div -->
          <div class="row">
            <div class="col" style="text-align: left; cursor: pointer;">
              <i class="material-icons boardAction" ng-show="x.hasContent" ng-click="labelBoard([[x.id]])">label_outline</i>
            </div>
            <div class="board-text col-xs-auto" ng-show="x.hasContent" ng-click="pasteToBoard(x)">
              <!-- Hidden text box used for pasting/editing data -->
              <input type="text" id="[[x.id]]pasting" class="pasteInput" ng-model="x.content" ng-show="x.pasting" ng-keyup="keyCheck($event, x)" />
              <!-- Display board preview -->
              [[x.preview]]
            </div>
            <div class="col" style="text-align:right;">
                <i class="material-icons copyBoard boardAction" ng-show="x.hasContent" ng-click="copyFromBoard(x);">content_copy</i>
            </div>
          </div>
        </div>
      </div>
      <!-- Add board button -->
      <div style="margin: auto;  width: 70%; font-size: 18px;">
        <div style="border-radius: 20px; border: green 1px solid; margin-top: 30px; padding-top: 10px; text-align: center; cursor: pointer; margin-left: auto; margin-right: auto; width: 20%;" ng-click="createBlankBoard();">
            <i class="material-icons">add</i>
        </div>
      </div>
    </div>
    <!-- Alerts for successful copy or successful paste -->
    <div id="copyAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; bottom: 20px; width: 75%; left: 12.5%; display: none;">
      Successfully copied data from board!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="pasteAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; bottom: 20px; width: 75%; left: 12.5%; display: none;">
      Successfully pasted data to board!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</body>
</html>
