{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>CloudBoard</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>

   <!-- jQuery-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
   <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-cookies.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src={% static 'scripts/script.js' %}></script>
  <script src={% static 'scripts/loginService.js' %}></script>
  <script src={% static 'scripts/loginController.js' %}></script>
  <script src={% static 'scripts/boardsController.js' %}></script>
  <script src={% static 'scripts/settingsController.js' %}></script>
</head>
<body ng-app="CloudBoard" style="background-color: #dbdbdb;">
  <nav class="navbar navbar-default" style="border-bottom: 1px solid black; background-color: #FF7800;">
    <div class="container">
      <div class="navbar-header" style="margin: auto;">
        <h1 onclick="document.location.href = '/';" style="cursor:pointer;">CloudBoard</h1>
      </div>
    </div>
  </nav>

  <!-- Settings panel -->
  <div ng-controller="settings" id="settingsDiv" class="settings">
    <i class="material-icons" style="font-size:36px; cursor:pointer;" id="settingsButton" ng-click="toggle()">menu</i>
    <div class="settingsPanel" style="display:none;">
      <i class="material-icons" style="font-size:36px; cursor:pointer; margin-top: 15px;" ng-click="toggle()">close</i>
      <div class="settingsOptions">
        <div class="settingsLink" ng-click="logOut()">Log Out</div>
        <a href="/faq" style="text-decoration:none;" class="settingsLink">FAQ</a>
      </div>
    </div>
  </div>

  <!-- Dimmer, used to fade out the website when the login window or the settings panel is shown -->
  <div class="overlay" id="dimmer"></div>

  <!-- Login window, currently just uses a fake form with a hard-coded login accepted, has a link to redirect to the login endpoint -->
  <div ng-controller="login">
      <div class="loginWindow" ng-show="!loggedIn">
        <div class="loader"></div>
        <div id="loginForm" style="display:none;">
          <form action="/api-auth/login/" method="POST">{% csrf_token %}
            <span class="createAccountError" id="usernameError"></span>
            <input type="text" name="username" ng-model="username" style="width:100%" placeholder="username" autofocus /> <br />
            <span class="createAccountError" id="passwordError"></span>
            <input type="password" name="password" ng-model="password" style="width:100%" placeholder="password" ng-keyup="keyCheck($event)" /> <br />
            <button ng-click="logIn()" style="width:100%" id="loginButton" ng-show="!creatingAccount">Log In </button>
          </form>
          <span class="createAccountError" id="emailError"></span>
          <input type="text" ng-model="email" style="width:100%;" ng-show="creatingAccount" placeholder="email" />
          <button ng-click="createAccount()" style="width:100%" ng-show="!accountCreated">Create Account</button>
          <button ng-click="forgotPassword()" style="width:100%">Forgot Password?</button>
        </div>
      </div>

      <div class="modal fade" id="resetModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Reset Successful</h4>
              <button type="button" style="float:right;" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Password reset successful. An email has been sent.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Boards -->
  <div ng-controller="boards" class="container">
    <h1 ng-show="loggedIn" style="text-align:center; padding-top:20px;">Welcome, [[name]]!</h1>
    <div class="boardsView">
      <!-- This div will repeat for every board in the $scope.boards array -->
      <div ng-repeat="board in boards" class="col-lg-12">
        <!-- Two different classes for if the board has content or if its empty, same with two different functionalities for clicking on it -->
        <div class="board" ng-class="board.hasContent ? 'board-full' : 'board-empty'" id="[[board.id]]board">
          <!-- Remove button -->
          <div class="row" style="text-align:center;">
            <i class="material-icons removeBoard boardAction" style="float:left; margin-left: 10px;" ng-show="board.hasContent && board.expanded" ng-click="removeBoard([[board.id]])">remove_circle_outline</i>
            <!-- Display board title and it's id -->
            <div  ng-click="expand($event, board)" style="text-align: center; width: 80%; margin: auto;">
              <h3>[[board.name]]</h3>
            </div>
          
            <!-- Copy button -->
            <i class="material-icons renameBoard boardAction" style="float:right; margin-right: 10px;" ng-show="board.hasContent && board.expanded" ng-click="renameBoard(board.id)">create</i>
          </div>
          <!-- Content dark grey div -->
          <div class="snippets" id="[[board.id]]snippets">
            <div class="row" ng-repeat="snippet in board.data">
              <div class="col">
                <div class="board-text">
                  <!-- Hidden text box used for pasting/editing data -->
                  <input type="text" id="[[board.id]][[snippet.id]]pasting" class="pasteInput" ng-model="snippet.content" ng-keyup="pasteKeyCheck($event, board, snippet)" />
                  <!-- Display board preview
                  [[content]]-->
                </div>
              </div>
            </div>
            <div style="text-align: center; margin-top: 15px;">
              <i class="material-icons addSnippet boardAction" ng-click="addSnippet(board)">add_circle_outline</i>
            </div>
          </div>
        </div>
      </div>
      <!-- Add board button -->
      <div style="margin: auto;  width: 70%; font-size: 18px;">
        <div style="border-radius: 20px; border: green 1px solid; margin-top: 30px; padding-top: 10px; text-align: center; cursor: pointer; margin-left: auto; margin-right: auto; width: 20%;" ng-click="createBlankBoard();">
            <i class="material-icons">add</i>
        </div>
      </div>

        <div class="modal fade" id="deleteBoardModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete this board?</h4>
                <button type="button" style="float:right;" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" ng-click="removeBoard()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="renameBoardModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Enter a new name for this board</h4>
                <button type="button" style="float:right;" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-content">
                <input id="renameInput" class="form-control" ng-model="rename" placeholder="new board name" style="width: 80%; margin-top: 15px; margin-bottom: 15px; margin-right: auto; margin-left: auto;" ng-keyup="renameKeyCheck($event)" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-success" ng-click="renameBoard()">Rename</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>

    </div>
    <!-- Alerts for successful copy or successful paste -->
    <div id="copyAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; bottom: 20px; width: 75%; left: 12.5%; display: none;">
      Successfully copied data from board!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="pasteAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; bottom: 20px; width: 75%; left: 12.5%; display: none;">
      Successfully pasted data to board!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</body>
</html>
